.page-wrapper {
  width: 120vw;
  height: 100vh;
  border: 1px solid #fff;
  border-radius: 48px;
  background-color: #fff;
  position: absolute;
  transform: rotate(-8deg);
  margin-left: 50%;
}
.page-wrapper-active {
  width: 120vw;
  height: 100vh;
  border: 1px solid #fff;
  border-radius: 48px;
  background-color: #fff;
  position: absolute;
}
.page-content {
  display: flex;
  align-items: center;
  margin-top: 5%;
  margin-left: 5%;
  width: 179px;
  height: 43px;
}

.page-text {
  margin-left: 7%;
  font-family: "Avenir Medium";
  font-size: 20px;
  line-height: 33px;
  color: #9f9fa0;
}
